<div class="container">

<h1><%= @user.username %></h1>

<h3>Spots Added: </h3>
<ul>
	<% @spots.each do |s| %>
		<% if @user.username == s.created_by %>
			<li><%= link_to s.title, spot_path(s) %></li>
		<% end %>
	<% end %>
<ul>

</div>